.circle {
	width: 213px;
	height: 213px;
	position: relative;
	z-index: 3;
	margin: 0px auto;
	margin-bottom: 46px;
	border-radius: 100%;
	display: grid;
	place-content: center;
	border: 21px solid rgba(31, 160, 202, 0.06);
	background-color: transparent;
	&__dotted {
		position: absolute;
		top: -17px;
		left: -17px;
		width: 205px;
		height: 205px;
		border: 13.5px dotted rgba(32, 161, 202, 0.14);
		border-radius: 100%;
	}
	&__progress {
		position: absolute;
		z-index: 1;
		top: -21px;
		left: -21px;
		width: 213px;
		height: 213px;
		border-radius: 100%;
		background-color: transparent;
	}
	&__inner {
		position: absolute;
		@extend .circle;
		border: none;
		text-align: center;
		margin-bottom: 0px;
		background-color: transparent;
		width: 183px;
		box-shadow: none;
		height: 183px;
		color: #222b45;
	}
	&__title {
		font-size: $sm;
		font-weight: 600;
		line-height: 2;
	}
	&__amount {
		font-size: 2.4rem;
		font-weight: bold;
	}
	&__time {
		font-size: $md;
		font-weight: 600;
		line-height: 1.71;
	}
	&__interest {
		font-size: $sm;
		font-weight: 600;
		line-height: 1.33;
		color: $secondary-color;
	}
}

.progress-dot {
	position: absolute;
	box-shadow: -2px 1px 1px 0 rgba(0, 0, 0, 0.5);
	border-radius: 100%;
	width: 15px;
	height: 15px;
	z-index: 2;
	&__start {
		@extend .progress-dot;
		top: calc(50% - 40px);
		left: -7px;
		background-color: #783183;
	}
	&__end {
		@extend .progress-dot;
		bottom: calc(50% - 94px);
		left: 116px;
		background-color: #bb64c8;
	}
}

.circle {
	fill: none;
	stroke: url(#GradientColor);
	stroke-width: 24px;
	stroke-dasharray: 374px;
}

.circle svg {
	transform: rotate(200deg);
	box-shadow: -2px 2px 3px 0 rgba(0, 0, 0, 0.5);
	border-radius: 100%;
	width: 213px;
	height: 213px;
}
