.header {
	width: 100%;
	padding: 41px 36px 0px 36px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	&__username {
		font-size: 1.6rem;
		font-weight: 600;
	}
	&__userphoto {
		border-radius: 100%;
		object-fit: cover;
	}
}
