.provision {
	padding: 0px 36px;
	padding-top: 72px;
	padding-bottom: 31px;
	position: relative;
	min-height: 100vh;
	background: linear-gradient(
		to bottom,
		rgba(255, 255, 255, 0) 1%,
		rgba(34, 168, 210, 0.1)
	);
	&__navigate {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 23px;
	}
	&__cancel {
		color: $light-secondary-color;
		font-size: $regular;
		line-height: 1.33;
	}
	&__title {
		font-size: 2.4rem;
		font-weight: 600;
		line-height: 1.33;
	}
	&__pill {
		font-size: $md;
		font-weight: 600;
		line-height: 1.43;
		padding: 10px 18px;
		border: 1px solid $secondary-color;
		margin-bottom: 12px;
	}
	&__subtitle {
		font-size: $md;
		font-weight: 600;
		line-height: 1.79;
		margin-bottom: 26px;
		margin-top: 18px;
		@media (min-width: 1024px) {
			text-align: center;
		}
	}
	&__details {
		@media (min-width: 1024px) {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			align-items: center;
		}
	}
	&__button {
		@media (min-width: 1024px) {
			display: none;
		}
	}
	&__button-desktop {
		display: none;
		@media (min-width: 1024px) {
			display: grid;
			max-width: 400px;
			margin: 0 auto;
		}
	}
}

.provision .balance {
	margin-top: 17px;
	margin-bottom: 24px;
	padding: 26px 16px;
}

.provision .balance h2 {
	font-size: $md;
	font-weight: normal;
	line-height: 1.14;
	margin-bottom: 14px;
}

.provision .navbar__bar {
	max-width: 134px;
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
}
