.movements {
	&__details {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding-left: 20px;
		padding-right: 24px;
		margin-bottom: 8px;
	}
	&__title {
		font-size: 2.4rem;
		font-weight: 600;
		line-height: 1.33;
	}
	&__see {
		color: $light-secondary-color;
		font-size: $regular;
		line-height: 1.33;
	}
	&__list {
		max-height: 300px;
		overflow: auto;
	}
}
