.movement {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 8px 24px 8px 18px;
	border-bottom: 0.5px solid #bbb;
	&__details {
		display: flex;
		gap: 16px;
	}
	&__img {
		object-fit: cover;
	}
	&__name {
		font-size: $md;
		line-height: 1.43;
		font-weight: 600;
	}
	&__description {
		font-size: $sm;
		line-height: 1.67;
	}
	&__time {
		@extend .movement__description;
		text-align: right;
		font-weight: 300;
	}
	&__amount {
		@extend .movement__name;
	}
}
