/*VARIABLES*/

@import './variables/colors';
@import './variables/fontSizes';
@import './variables/general';

/*COMPONENTS*/

@import './components/container';
@import './components/header';
@import './components/balance';
@import './components/button';
@import './components/transactions/transactions';
@import './components/transactions/transactionItem';
@import './components/payment/payment';
@import './components/payment/paymentRecord';
@import './components/movements/movements';
@import './components/movements/movement';
@import './components/navbar/navbar';
@import './components/navbar/navbarItem';
@import './components/circularCalculation';

/* PAGES */

@import './pages/provision';
