/*VARIABLES*/

@import './variables/general';
@import './variables/colors';
@import './variables/fontSizes';

/*COMPONENTS*/

@import './components/container';
@import './components/header';
@import './components/balance';
