@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');

* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

html {
	font-size: 50%;
}

body {
	font-family: 'Open Sans', sans-serif;
}

.page-container {
	padding-bottom: 91px;
}
